body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("img/wp1822725.png");
}
body, a:link, a:visited, a:active{
  color: lightgreen;
  padding:5px 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title, .addDancerButton{
  padding:5px 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float:right;
}
.topbar{
  height:36px;
  background-color: grey;
}
.title{
  background-color: grey;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.morty{
  border-radius:10px;
  position:absolute;
}
.pickle{
  border-radius:10px;
  position:absolute;
}
.rick{
  font-size: 18px;
}
/* .background-image{
  background-image: linear-gradient(red, yellow);
} */